.btn-nav {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #74756f;
    &:hover {
        color: black;
        background-color: white;
    }
}
.active {
    background-color: #c8ee44 !important; 
    color: black;
}
.logo {
   font-weight: bold;
 
}